@charset 'UTF-8';

:root {
    --cor1: #0D0F40;
    --cor2: #080C59;
    --cor3: #302840;
    --cor5: #BF9D5E;
    --cor6: #786143;
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 100vh;          /* Altura total da janela */
    margin: 0;
    background-color: #f0f0f0;
  }

  .container {
    display: flex;
  }

  .box-esquerda {
    width: 300px;          /* Largura ajustada para 300px */
    height: 500px; 
    padding: 10px;        /* Altura fixa */
    background-color: var(--cor5);
    color: white; /* Verde */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .box-direita {
    width: 500px;          /* Largura fixa */
    height: 500px;         /* Altura fixa */
    background-color: white;
    color: var(--cor2); /* Azul */
    padding: 10px;
 }

 #empty{
    color: rgba(255, 0, 0, 0.774);;
 }

 